process {
    withName: 'NFCORE_SAREK:SAREK:CRAM_TO_BAM' {
        publishDir = [ [
            mode: 'copy',
            path: { "${params.outdir}/${meta.id}/alignment/" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] ]
    }
    withName: 'NFCORE_SAREK:SAREK:POST_VARIANTCALLING:FILTER_VCFS' {
        publishDir = [ [
            mode: 'copy',
            path: { "${params.outdir}/${meta.id}/filtered_vcfs/" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] ]
    }
    withName: 'NFCORE_SAREK:SAREK:POST_VARIANTCALLING:NORMALIZE_VCFS:VCFS_NORM_SORT' {
        publishDir = [ [
            mode: 'copy',
            path: { "${params.outdir}/${meta.id}/filtered_normalized_vcfs/" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] ]
    }
    withName: 'NFCORE_SAREK:SAREK:BAM_VARIANT_CALLING_TUMOR_ONLY_ALL:BAM_VARIANT_CALLING_TUMOR_ONLY_MUTECT2:(MUTECT2|FILTERMUTECTCALLS|LEARNREADORIENTATIONMODEL|GETPILEUPSUMMARIES|CALCULATECONTAMINATION)' {
            publishDir =  [ [
            mode: 'copy',
            path: { "${params.outdir}/${meta.id}/mutect/" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] ]
    }
    withName: 'NFCORE_SAREK:SAREK:BAM_VARIANT_CALLING_TUMOR_ONLY_ALL:BAM_VARIANT_CALLING_TUMOR_ONLY_LOFREQ:LOFREQ_COMP' {
        memory = { 24.GB * task.attempt }
        errorStrategy = 'retry'
        maxRetries    = 1
        publishDir = [ [
            mode: 'copy',
            path: { "${params.outdir}/${meta.id}/lofreq/" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] ]
    }
    withName: 'NFCORE_SAREK:SAREK:BAM_VARIANT_CALLING_TUMOR_ONLY_ALL:BAM_VARIANT_CALLING_TUMOR_ONLY_VARDICTJAVA:VARDICT' {
        publishDir = [ [
            mode: 'copy',
            path: { "${params.outdir}/${meta.id}/vardict/" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] ]
    }
    withName: 'NFCORE_SAREK:SAREK:BAM_VARIANT_CALLING_TUMOR_ONLY_ALL:BAM_VARIANT_CALLING_CNVKIT:(CNVKIT_BATCH|CNVKIT_GENEMETRICS|CNVKIT_CUSTOM_CALL_AND_PLOT|CNVKIT_EXPORT)' {
        publishDir = [ [
            mode: 'copy',
            path: { "${params.outdir}/${meta.id}/cnvkit/" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] ]
    }
    withName: 'NFCORE_SAREK:SAREK:FASTQ_PREPROCESS_GATK:CRAM_QC_NO_MD:MOSDEPTH' {
        publishDir = [ [
            mode: 'copy',
            path: { "${params.outdir}/${meta.id}/reports/mosdepth/" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] ]
    }
    withName: 'NFCORE_SAREK:SAREK:FASTQ_PREPROCESS_GATK:CRAM_QC_NO_MD:SAMTOOLS_STATS' {
        publishDir = [ [
            mode: 'copy',
            path: { "${params.outdir}/${meta.id}/reports/samtools_stats/" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] ]
    }
    withName: 'NFCORE_SAREK:SAREK:VCF_QC_BCFTOOLS_VCFTOOLS:BCFTOOLS_STATS' {
        publishDir = [ [
            mode: 'copy',
            path: { "${params.outdir}/${meta.id}/reports/bcftools_stats/" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] ]
    }
    withName: 'NFCORE_SAREK:SAREK:FASTQ_PREPROCESS_GATK:FASTQ_CREATE_UMI_CONSENSUS_FGBIO:CUTADAPT_UMI' {
        publishDir = [ [
            mode: 'copy',
            path: { "${params.outdir}/${meta.sample}/reports/cutadapt_log/${meta.id}/" },
            pattern: "*{log}"
        ] ]
    }
    withName: 'NFCORE_SAREK:SAREK:FASTQC' {
        publishDir = [ [
            mode: 'copy',
            path: { "${params.outdir}/${meta.sample}/reports/fastqc/${meta.id}/" },
            pattern: "*{html,zip}"
        ] ]
    }
    withName: 'NFCORE_SAREK:SAREK:FASTQ_PREPROCESS_GATK:FASTQ_CREATE_UMI_CONSENSUS_FGBIO:GROUPREADSBYUMI' {
        publishDir = [ [
            mode: 'copy',
            path: { "${params.outdir}/${meta.id}/reports/umi/" },
            pattern: "*{txt}"
        ] ]
    }
    withName: 'NFCORE_SAREK:SAREK:BAM_VARIANT_CALLING_TUMOR_ONLY_ALL:BAM_VARIANT_CALLING_TUMOR_ONLY_PINDEL:PINDEL' {
        publishDir = [ [
            mode: 'copy',
            path: { "${params.outdir}/${meta.id}/pindel/" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] ]
    }
    withName: 'NFCORE_SAREK:SAREK:EXPORT_TO_JSON_SQVD' {
        container = 'docker.io/seglh/bw_ngstools_java:1.0.1'
        publishDir = [ [
            mode: 'copy',
            path: { "${params.outdir}/${meta.id}/qc_parse/" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] ]
    }
    withName: 'NFCORE_SAREK:SAREK:FASTQ_PREPROCESS_GATK:CRAM_QC_NO_MD:SAMTOOLS_DEPTH' {
    publishDir = [ [
            mode: 'copy',
            path: { "${params.outdir}/${meta1.id}/samtools_depth/" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] ]
    }
}

//tasks we do but dont want to publish outputs
process {
    withName: 'NFCORE_SAREK:SAREK:FASTQ_PREPROCESS_GATK:BAM_TO_CRAM_MAPPING' {
        publishDir = [ [ path: null, enabled: false ] ]
    }
    withName: 'NFCORE_SAREK:SAREK:FASTQ_PREPROCESS_GATK:FASTQ_CREATE_UMI_CONSENSUS_FGBIO:CALLUMICONSENSUS' {
        publishDir = [ [ path: null, enabled: false ] ]
    }
    withName: 'NFCORE_SAREK:SAREK:FASTQ_PREPROCESS_GATK:BAM_MERGE_INDEX_SAMTOOLS:INDEX_MERGE_BAM' {
        publishDir = [ [ path: null, enabled: false ] ]
    }
    withName: 'NFCORE_SAREK:SAREK:FASTQ_PREPROCESS_GATK:FASTQ_ALIGN:BWAMEM1_MEM' {
        publishDir = [ [ path: null, enabled: false ] ]
    }
}


